{{#extend layout title="user-profile" active="user-profile" path="../../" }}
{{#content "content"}}
<div class="flex flex-wrap" x-data="{ openTab: 1 }">
  <div class="flex-auto w-full">
    <div class="relative flex flex-col mb-8 text-gray-500 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="flex-auto p-6">
        <div class="flex flex-wrap items-center justify-between">
          <div class="flex flex-wrap items-center">
            <div class="absolute right-0 lg:relative mb-4 mr-4 -mt-20 lg:top-0 top-9 md:top-4 lg:mb-0 profile-logo profile-logo1">
              <img src="{{path}}assets/images/avatars/01.png" class="w-24 h-24 border-4 rounded-full" alt="profile-image">
            </div>
            <div class="flex flex-wrap items-center mb-4 md:mb-0">
              <h4 class="mr-2 text-2xl font-medium text-black dark:text-gray-600">Austin Robertson</h4>
              <span class="text-gray-600 mt-1 font-semibold"> - Web Developer</span>
            </div>
          </div>
          <ul class="flex flex-wrap mb-0 text-center ">
            <li class="nav-item">
              <a class="block px-4 py-2 text-blue-500 rounded-full focus:text-white focus:bg-blue-500 focus:rounded-full" href="#profile-feed" @click="openTab = 1" x-bind:style="openTab == 1 ? 'border-radius:9999px; color:white; background-color:#3a57e8' : ''">Feed</a>
            </li>
            <li class="nav-item">
              <a class="block px-4 py-2 text-blue-500 rounded-full focus:text-white focus:bg-blue-500 focus:rounded-full" href="#profile-activity" @click="openTab = 2">Activity</a>
            </li>
            <li class="nav-item">
              <a class="block px-4 py-2 text-blue-500 rounded-full focus:text-white focus:bg-blue-500 focus:rounded-full" href="#profile-friends" @click="openTab = 3">Friends</a>
            </li>
            <li class="nav-item">
              <a class="block px-4 py-2 text-blue-500 rounded-full focus:text-white focus:bg-blue-500 focus:rounded-full" href="#profile-profile" @click="openTab = 4">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-auto w-full lg:w-1/4 xl:pr-4 lg:pr-4 ">
    <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="p-6 pb-0">
        <h4 class="text-2xl font-medium text-black dark:text-gray-600">News</h4>
      </div>
      <div class="flex-auto p-6 ">
        <ul class="p-0 m-0 list-inline">
          <li class="flex mb-2">
            <div class="mr-4 text-gray-500 mt-2 md:mt-1">
              <svg width="20" viewBox="0 0 24 24">
                <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z"></path>
              </svg>
            </div>
            <p class="mb-0 news-detail">there is a meetup in your city on friday at 19:00. 
              <a href="#" class="text-blue-500 hover:text-blue-500">see details</a></p>
          </li>
          <li class="flex">
            <div class="mr-4 text-gray-500 mt-1">
              <svg width="20" viewBox="0 0 24 24">
                <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z"></path>
              </svg>
            </div>
            <p class="mb-0 news-detail">20% off coupon on selected items at pharmaprix </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="flex items-center justify-between p-6 pb-0">
          <h4 class="text-2xl font-medium text-black dark:text-gray-600">Gallery</h4>
        <span>132 pics</span>
      </div>
      <div class="flex-auto p-6">
        <div class="grid grid-cols-3 gap-6">
          <a data-fslightbox="gallery" href="{{path}}assets/images/icons/04.png">
            <img src="{{path}}assets/images/icons/04.png" class="w-full h-auto rounded bg-cyan-100 text-cyan-500 dark:bg-cyan-800/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/shapes/02.png">
            <img src="{{path}}assets/images/shapes/02.png" class="w-full text-blue-500 bg-blue-100 rounded dark:bg-blue-700/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/icons/08.png">
            <img src="{{path}}assets/images/icons/08.png" class="w-full rounded bg-cyan-100 text-cyan-500 dark:bg-cyan-800/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/shapes/04.png">
            <img src="{{path}}assets/images/shapes/04.png" class="w-full text-blue-500 bg-blue-100 rounded dark:bg-blue-700/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/icons/02.png">
            <img src="{{path}}assets/images/icons/02.png" class="w-full text-orange-500 bg-orange-100 rounded dark:bg-orange-700/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/shapes/06.png">
            <img src="{{path}}assets/images/shapes/06.png" class="w-full text-blue-500 bg-blue-100 rounded dark:bg-blue-700/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/icons/05.png">
            <img src="{{path}}assets/images/icons/05.png" class="w-full text-red-500 bg-red-100 rounded dark:bg-red-800/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/shapes/04.png">
            <img src="{{path}}assets/images/shapes/04.png" class="w-full text-blue-500 bg-blue-100 rounded dark:bg-blue-700/25" alt="profile-image">
          </a>
          <a data-fslightbox="gallery" href="{{path}}assets/images/icons/01.png">
            <img src="{{path}}assets/images/icons/01.png" class="w-full text-green-500 bg-green-100 rounded dark:bg-cyan-800/25" alt="profile-image">
          </a>
        </div>
      </div>
    </div>
    <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="flex-auto p-6 pb-0 ">
          <h4 class="text-2xl font-medium text-black dark:text-gray-600">Twitter Feeds</h4>
      </div>
      <div class="flex-auto px-6 pt-6">
        <div>
          <div class="flex items-center mb-2">
            <img class="w-12 h-12 p-1 pl-2 mr-4 bg-red-100 rounded-full dark:bg-red-800/25" src="{{path}}assets/images/icons/03.png">
            <div class="media-support-info">
              <h6 class="mb-0  font-medium text-black dark:text-gray-600">Figma Community</h6>
              <p class="mb-0">@figma20
                <span class="text-blue-500">
                  <svg width="15" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path>
                  </svg>
                </span>
              </p>
            </div>
          </div>
          <div class="media-support-body">
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <div class="flex flex-wrap text-blue-500 hover:text-blue-600">
              <a href="#" class="pr-2 twit-meta-tag">#Html</a>
              <a href="#" class="pr-2 twit-meta-tag">#Tailwind</a>
            </div>
            <div class="twit-date">07 Jan 2021</div>
          </div>
        </div>
        <hr class="my-6 text-gray-500">
          <div class="flex items-center mb-2">
            <img class="w-12 h-12 p-1 pl-2 mr-4 bg-blue-100 rounded-full dark:bg-blue-700/25" src="{{path}}assets/images/icons/04.png">
            <div class="media-support-info">
              <h6 class="mb-0  font-medium text-black dark:text-gray-600">Flutter</h6>
              <p class="mb-0">@jane59
                <span class="text-blue-500">
                  <svg width="15" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z">
                    </path>
                  </svg>
                </span>
              </p>
            </div>
          </div>
          <div class="media-support-body">
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <div class="flex flex-wrap text-blue-500 hover:text-blue-600">
              <a href="#" class="pr-2 twit-meta-tag">#Js</a>
              <a href="#" class="pr-2 twit-meta-tag">#Tailwind</a>
            </div>
            <div class="twit-date">18 Feb 2021</div>
          </div>
        </div>
        <hr class="mx-6 text-gray-500">
        <div class="px-6 pb-6">
          <div class="flex items-center mb-2">
            <img class="w-12 h-12 p-1 pl-2 mr-4 bg-orange-100 rounded-full dark:bg-orange-700/25" src="{{path}}assets/images/icons/02.png">
            <div class="mt-2">
              <h6 class="mb-0  font-medium text-black dark:text-gray-600">Blender</h6>
              <p class="mb-0">@blender59
                <span class="text-blue-500">
                  <svg width="15" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z">
                    </path>
                  </svg>
                </span>
              </p>
            </div>
          </div>
          <div class="media-support-body">
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <div class="flex flex-wrap text-blue-500 hover:text-blue-600">
              <a href="#" class="pr-2 twit-meta-tag">#Html</a>
              <a href="#" class="pr-2 twit-meta-tag">#CSS</a>
            </div>
            <div class="twit-date">15 Mar 2021</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-auto w-full lg:w-2/4 xl:px-4 lg:px-4">
    <div x-show="openTab === 1">
      <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
        <div class="flex items-center justify-between flex-auto p-6 pb-4">
          <div class="header-title">
            <div class="flex flex-wrap">
              <div class="md:mr-4 mr-8">
                <img class="max-w-full p-1 pl-2 bg-red-100 rounded-full h-14 w-14 dark:bg-red-600/20" src="{{path}}assets/images/avatars/02.png" >
              </div>
              <div class="mt-2">
                <h5 class="mb-0 text-xl font-medium text-black dark:text-gray-600">Anna Sthesia</h5>
                <p class="mb-0 text-blue-500">colleagues</p>
              </div>
            </div>
          </div>
          <div class="relative flex items-center mr-4 cursor-pointer" x-data="{ open: false }">
            <div class="flex flex-wrap items-center" x-data="{ open: false }">
              <div @click="open = ! open"> 29 mins</div>
              <div @click="open = ! open">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" viewBox="0 0 512 512" fill="currentColor">
                  <path d="M128 192l128 128 128-128z"/>
                </svg>
              </div>
              <div class="absolute z-50 py-2 right-0 top-6 text-gray-600 bg-white border rounded shadow-md dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-show="open" x-transition.duration.500ms>
                <a class="block  w-full px-4 py-1 whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="javascript:void(0);">Action</a>
                <a class="block  w-full px-4 py-1 whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="javascript:void(0);">Another action</a>
                <a class="block  w-full px-4 py-1 whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="javascript:void(0);">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="p-0 ">
            <a href="javascript:void(0);"><img src="{{path}}assets/images/pages/02-page.png" alt="post-image" class="w-full"></a>
          <div class="p-4">
            <div class="flex flex-wrap items-center justify-between">
              <div class="flex items-center">
                <div class="flex items-center mr-4">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
                  </svg>
                  <span class="ml-1">140</span>
                </div>
                <div class="flex items-center ">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10Z"></path>
                  </svg>
                  <span class="ml-1">140</span>
                </div>
              </div>
              <div x-data="{ open: false }">
                        <div class="flex items-center mr-3 text-blue-500 hover:text-blue-600">
                            <a href="#" x-on:click="scrolldisable()" @click="open = !open">

                        <div class="fixed w-full h-full botttom-0 z-50" x-show="open" style="display: none;">
                      <nav class="bottom-0 w-full fixed right-0 py-4 bg-white dark:bg-gray-800 h-64 overflow-auto z-40"
                        x-show="open" @click.away="open=false" x-description="Mobile menu" role="menu"
                        x-transition:enter="transform transition-transform duration-700"
                        x-transition:enter-start="translate-y-full" x-transition:enter-end="translate-y-0"
                        x-transition:leave="transform transition-transform duration-700"
                        x-transition:leave-start="translate-y-0" x-transition:leave-end="translate-y-full">
                        <div class="p-3">
                          <h3 class="text-2xl font-semibold text-gray-700"> <div class="">
                              <p class="text-lg mb-4 ml-3">Share</p>
                      <ul class="flex">
                        <li class="relative block px-2 py-2 bg-white  text-black border-0 pb-0">
                          <a href="#"><img src="{{path}}assets/images/brands/08.png" alt="fb" class="ml-3 rounded-lg"></a>
                          <p class="text-sm text-black">Facebook</p>
                        </li>
                        <li class="relative block px-2 py-2 bg-white  text-black border-0 pb-0">
                          <a href="#"><img src="{{path}}assets/images/brands/09.png" alt="fb" class="ml-1 rounded-lg"></a>
                          <p class="text-sm text-black">Twitter</p>
                        </li>
                        <li class="relative block px-2 py-2 bg-white  text-black border-0 pb-0">
                          <a href="#"><img src="{{path}}assets/images/brands/10.png" alt="fb" class="ml-3 rounded-lg"></a>
                          <p class="text-sm text-black">Instagram</p>
                        </li>
                        <li class="relative block px-2 py-2 bg-white  text-black border-0 pb-0">
                          <a href="#"><img src="{{path}}assets/images/brands/11.png" alt="fb" class="ml-4 rounded-lg"></a>
                          <p class="text-sm text-black">Google Plus</p>
                        </li>
                        <li class="relative block px-2 py-2 bg-white  text-black border-0 pb-0">
                          <a href="#"><img src="{{path}}assets/images/brands/13.png" alt="fb" class=" rounded-lg"></a>
                          <p class="text-sm text-black ml-2">In</p>
                        </li>
                        <li class="relative block px-2 py-2 bg-white  text-black border-0 pb-0">
                          <a href="#"><img src="{{path}}assets/images/brands/12.png" alt="fb" class="ml-3 rounded-lg"></a>
                          <p class="text-sm text-black">YouTube</p>
                        </li>
                      </ul>
                    </div></h3>
                          <a x-on:click="scrollenable()" class="absolute mr-2 cursor-pointer top-1 right-5 text-4xl text-black dark:text-white" @click="open = !open">&times;</a>
                        </div>
                      </nav>
                    </div>

                                <svg width="18" class="me-1" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12S8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5S19.66 2 18 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12S4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.91 18 21.91S20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08M18 4C18.55 4 19 4.45 19 5S18.55 6 18 6 17 5.55 17 5 17.45 4 18 4M6 13C5.45 13 5 12.55 5 12S5.45 11 6 11 7 11.45 7 12 6.55 13 6 13M18 20C17.45 20 17 19.55 17 19S17.45 18 18 18 19 18.45 19 19 18.55 20 18 20Z"></path>
                                </svg>
                            </a>
                            <a href="#" x-on:click="scrolldisable()" @click="open = !open"><span class="ml-1">99 Share</span></a>
                            </div>
                        </div>
                    </div>
            <hr class="my-4 text-gray-500">
            <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at
              commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus</p>
            <hr class="my-4 text-gray-500">
            <ul class="p-0 m-0 ">
              <li class="mb-2">
                <div class="flex">
                  <img src="{{path}}assets/images/avatars/03.png" alt="userimg" class="w-12 h-12 p-1 pt-2 bg-blue-100 rounded-full mzx-w-full dark:bg-blue-800/40">
                  <div class="ml-4">
                    <h6 class="mb-1 font-medium text-black dark:text-gray-600">Monty Carlo</h6>
                    <p class="mb-1 text-gray-600">Lorem ipsum dolor sit amet</p>
                    <div class="flex flex-wrap items-center mb-1">
                      <a href="javascript:void(0);" class="mr-4 text-blue-500 hover:text-blue-600">
                        <svg width="20" height="20" class="inline-block mr-1 text-gray-600" viewBox="0 0 24 24">
                          <path fill="currentColor" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
                        </svg>
                        like
                      </a>
                      <a href="javascript:void(0);" class="mr-4 text-blue-500 hover:text-blue-600">
                        <svg width="20" height="20" class="inline-block mr-1" viewBox="0 0 24 24">
                          <path fill="currentColor" d="M8,9.8V10.7L9.7,11C12.3,11.4 14.2,12.4 15.6,13.7C13.9,13.2 12.1,12.9 10,12.9H8V14.2L5.8,12L8,9.8M10,5L3,12L10,19V14.9C15,14.9 18.5,16.5 21,20C20,15 17,10 10,9"></path>
                        </svg>
                        reply
                      </a>
                      <a href="javascript:void(0);" class="mr-4 text-blue-600 hover:text-blue-600">translate</a>
                      <span> 5 min </span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex">
                  <img src="{{path}}assets/images/avatars/04.png" alt="userimg" class="w-12 h-12 max-w-full p-1 bg-red-100 rounded-full dark:bg-red-800/40">
                  <div class="ml-4">
                    <h6 class="mb-1 font-medium text-black dark:text-gray-600">Paul Molive</h6>
                    <p class="mb-1 text-gray-600">Lorem ipsum dolor sit amet</p>
                    <div class="flex flex-wrap items-center">
                      <a href="javascript:void(0);" class="mr-4 text-blue-500 hover:text-blue-600">
                        <svg width="20" height="20" class="inline-block mr-1 text-gray-600" viewBox="0 0 24 24">
                          <path fill="currentColor" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
                        </svg>
                        like
                      </a>
                      <a href="javascript:void(0);" class="mr-4 text-blue-500 hover:text-blue-600">
                        <svg width="20" height="20" class="inline-block mr-1" viewBox="0 0 24 24">
                          <path fill="currentColor" d="M8,9.8V10.7L9.7,11C12.3,11.4 14.2,12.4 15.6,13.7C13.9,13.2 12.1,12.9 10,12.9H8V14.2L5.8,12L8,9.8M10,5L3,12L10,19V14.9C15,14.9 18.5,16.5 21,20C20,15 17,10 10,9"></path>
                        </svg>
                        reply
                      </a>
                      <a href="javascript:void(0);" class="mr-4 text-blue-600 hover:text-blue-600">translate</a>
                      <span> 5 min </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <form class="flex items-center mt-4 " action="javascript:void(0);">
              <input type="text" class="block w-full px-4 py-2  placeholder-gray-600 border rounded outline-none focus:border-blue-500 focus:shadow dark:bg-dark-card dark:border-gray-600" placeholder="Lovely!">
              <div class="absolute left-auto flex right-7">
                <a href="javascript:void(0);" class="mr-2 text-gray-500">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8C16.3,8 17,8.7 17,9.5M12,17.23C10.25,17.23 8.71,16.5 7.81,15.42L9.23,14C9.68,14.72 10.75,15.23 12,15.23C13.25,15.23 14.32,14.72 14.77,14L16.19,15.42C15.29,16.5 13.75,17.23 12,17.23Z"></path>
                  </svg>
                </a>
                <a href="javascript:void(0);" class="text-gray-500">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,4H16.83L15,2H9L7.17,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V6H8.05L9.88,4H14.12L15.95,6H20V18M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15Z"></path>
                  </svg>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
        <div class="flex items-center justify-between flex-auto p-6 pb-4">
          <div class="header-title">
            <div class="flex flex-wrap">
              <div class="mr-4">
                <img class="max-w-full p-1 pl-2 rounded-full bg-cyan-100 h-14 w-14 dark:bg-cyan-700/40" src="{{path}}assets/images/avatars/05.png" >
              </div>
              <div class="mt-2">
                <h5 class="mb-0 text-xl font-medium text-black dark:text-gray-600">Wade Warren</h5>
                <p class="mb-0 text-blue-500">colleagues</p>
              </div>
            </div>
          </div>
          <div class="flex items-center mr-4 cursor-pointer" x-data="{ open: false }">
            <div  x-data="{ open: false }">
              <span class="flex items-center justify-center h5" @click="open = ! open"> 1 Hr
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" viewBox="0 0 512 512" fill="currentColor">
                  <path d="M128 192l128 128 128-128z"/>
                </svg>
              </span>
              <div class="absolute z-50 right-6 py-2 text-gray-600 bg-white border rounded shadow-md dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-show="open" x-transition.duration.500ms>
                <a class="block  w-full px-4 py-1 whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="javascript:void(0);">Action</a>
                <a class="block  w-full px-4 py-1 whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="javascript:void(0);">Another action</a>
                <a class="block  w-full px-4 py-1 whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="javascript:void(0);">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="p-0">
          <p class="p-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at
            commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus</p>
          <div class="p-4">
            <hr class="my-4 mt-0 text-gray-500">
            <div class="flex flex-wrap items-center justify-between">
              <div class="flex items-center">
                <div class="flex items-center mr-4">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
                  </svg>
                  <span class="ml-1">140</span>
                </div>
                <div class="flex items-center">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10Z"></path>
                  </svg>
                  <span class="ml-1">140</span>
                </div>
              </div>
              <div class="flex items-center share-block ">
                <a href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#share-btn" aria-controls="share-btn">
                  <span class="text-blue-500 ms-1 hover:text-blue-600">
                    <svg width="18" class="inline-block mr-1" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12S8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5S19.66 2 18 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12S4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.91 18 21.91S20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08M18 4C18.55 4 19 4.45 19 5S18.55 6 18 6 17 5.55 17 5 17.45 4 18 4M6 13C5.45 13 5 12.55 5 12S5.45 11 6 11 7 11.45 7 12 6.55 13 6 13M18 20C17.45 20 17 19.55 17 19S17.45 18 18 18 19 18.45 19 19 18.55 20 18 20Z"></path>
                    </svg>
                    99 Share
                  </span>
                </a>
              </div>
            </div>
            <form class="flex items-center mt-4 " action="javascript:void(0);">
              <input type="text" class="block w-full px-4 py-2  placeholder-gray-600 border rounded outline-none focus:border-blue-500 focus:shadow dark:bg-dark-card dark:border-gray-600" placeholder="Lovely!">
              <div class="absolute left-auto flex right-7">
                <a href="javascript:void(0);" class="mr-2 text-gray-500">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8C16.3,8 17,8.7 17,9.5M12,17.23C10.25,17.23 8.71,16.5 7.81,15.42L9.23,14C9.68,14.72 10.75,15.23 12,15.23C13.25,15.23 14.32,14.72 14.77,14L16.19,15.42C15.29,16.5 13.75,17.23 12,17.23Z"></path>
                  </svg>
                </a>
                <a href="javascript:void(0);" class="text-gray-500">
                  <svg width="20" height="20" class="inline-block" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,4H16.83L15,2H9L7.17,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V6H8.05L9.88,4H14.12L15.95,6H20V18M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15Z"></path>
                  </svg>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div x-show="openTab === 2">
      <div class="flex flex-col mb-8 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-dark-card">
        <div class="flex justify-between p-6 pb-0">
          <h4 class="text-2xl font-medium dark:text-gray-600">Activity</h4>
        </div>
        <div class="flex-auto p-6">
          <div class="relative flex items-center justify-between m-0">
            <ul class="p-0 m-0 ">
              <li class="relative float-left w-full mb-5 text-left pl-14">
                <div class="absolute top-4 z-10 left-0 w-4 h-4 p-1 leading-6 text-center text-blue-500 bg-white border-2 border-blue-500 rounded-full dark:bg-dark-bg"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 top-12" aria-hidden="true"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 -top-4" aria-hidden="true"></div>
                <h6 class="block mb-1  font-medium dark:text-gray-600">Client Login</h6>
                <small class="block mt-1 text-gray-600">24 November 2019</small>
                <div class="inline-block w-full text-gray-600">
                  <p class="mb-4">Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                </div>
              </li>
              <li class="relative float-left w-full mb-5 text-left pl-14">
                <div class="absolute z-10 top-4 left-0 w-4 h-4 p-1 leading-6 text-center text-green-500 bg-white border-2 border-green-500 rounded-full dark:bg-dark-bg"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 top-5" aria-hidden="true"></div>
                <h6 class="block mb-1  font-medium dark:text-gray-600">Scheduled Maintenance</h6>
                <small class="block mt-1 text-gray-600">23 November 2019</small>
                <div class="inline-block w-full text-gray-600">
                  <p class="mb-4">Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                </div>
              </li>
              <li class="relative float-left w-full mb-5 text-left pl-14">
                <div class="absolute z-10 top-4 left-0 w-4 h-4 p-1 leading-6 text-center text-red-500 bg-white border-2 border-red-500 rounded-full dark:bg-dark-bg"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 top-20 z-10" aria-hidden="true"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 top-0 " aria-hidden="true"></div>
                <h6 class="block mb-1  font-medium dark:text-gray-600">Dev Meetup</h6>
                <small class="block mt-1 text-gray-600">20 November 2019</small>
                <div class="inline-block w-full text-gray-600">
                  <p class="mb-4">Bonbon macaroon jelly beans <a href="#">gummi bears</a>gummi bears jelly lollipop
                    apple</p>
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 bg-white border-2 border-blue-500 rounded-full hover:z-10 dark:bg-dark-card">SP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 bg-white border-2 border-blue-500 rounded-full hover:z-10 dark:bg-dark-card">PP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 bg-white border-2 border-blue-500 rounded-full hover:z-10 dark:bg-dark-card">MM</div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="relative float-left w-full mb-5 text-left pl-14">
                <div class="z-10 absolute top-6 left-0 w-4 h-4 p-1 leading-6 text-center text-blue-500 bg-white border-2 border-blue-500 rounded-full dark:bg-dark-bg"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 top-12 z-10" aria-hidden="true"></div>
                <h6 class="block mb-1  font-medium dark:text-gray-600">Client Call</h6>
                <small class="block mt-1 text-gray-600">19 November 2019</small>
                <div class="inline-block w-full text-gray-600">
                <p class="mb-4">Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                </div>
              </li>
              <li class="relative float-left w-full mb-5 text-left pl-14">
                <div class="absolute z-50 top-6 left-0 w-4 h-4 p-1 leading-6 text-center text-orange-500 bg-white border-2 border-orange-500 rounded-full dark:bg-dark-bg"></div>
                <div class="border border-r bg-gray-300 h-full w-0.5 absolute left-1.5 top-4 z-10" aria-hidden="true"></div>
                <h6 class="block mb-1  font-medium dark:text-gray-600">Mega event</h6>
                <small class="block mt-1 text-gray-600">15 November 2019</small>
                <div class="inline-block w-full text-gray-600">
                  <p class="mb-4">Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div x-show="openTab === 3">
      <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
        <div class="flex justify-between p-6 pb-0">
            <h4 class="text-2xl font-medium">Friends</h4>
        </div>
        <div class="p-6">
          <ul class="p-0 m-0 list-inline">
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/01.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Paul Molive</h6>
                <p class="mb-0 text-slate-400">Web Designer</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor" >
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/05.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Paul Molive</h6>
                <p class="mb-0 text-slate-400">trainee</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/02.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Anna Mull</h6>
                <p class="mb-0 text-slate-400">Web Developer</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/03.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Paige Turner</h6>
                <p class="mb-0 text-slate-400">trainee</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/04.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Barb Ackue</h6>
                <p class="mb-0 text-slate-400">Web Designer</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/05.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Greta Life</h6>
                <p class="mb-0 text-slate-400">Tester</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/03.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Ira Membrit</h6>
                <p class="mb-0 text-slate-400">Android Developer</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white " href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
            <li class="flex items-center mb-6">
              <img src="{{path}}assets/images/avatars/02.png" alt="story-img" class="w-10 h-10 rounded-full max-w-10">
              <div class="flex-grow ml-4">
                <h6 class=" font-medium text-black dark:text-gray-600">Pete Sariya</h6>
                <p class="mb-0 text-slate-400">Web Designer</p>
              </div>
              <div x-data="{ open: false }">
                <div @click="open = !open" class="cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" x-bind:style="open ? 'transform: rotate(180deg);transition-duration: 500ms' : 'transform: -rotate(180deg);transition-duration: 500ms'" class="w-5 h-5" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M128 192l128 128 128-128z"></path>
                  </svg>
                </div>
                <div x-show="open" class="absolute border rounded shadow-md  right-6 z-40 w-40 p-0 py-2 bg-white dark:bg-dark-bg dark:border-dark-bg" @click.outside="open = false" x-transition.duration.500ms>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfollow</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">Unfriend</a>
                  <a class="block w-full px-4 py-1 text-gray-700 rounded-t whitespace-nowrap hover:text-blue-500 active:bg-blue-500 active:text-white" href="#">block</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div x-show="openTab === 4">
      <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
        <div class="p-6 pb-0">
            <h4 class="text-2xl font-medium text-black card-title dark:text-gray-600">Profile</h4>
        </div>
        <div class="p-6 ">
          <div class="text-center">
            <div class="user-profile">
              <img src="{{path}}assets/images/avatars/01.png" alt="profile-img" class="inline-block w-32 h-32 max-w-full rounded-full img-fluid">
            </div>
            <div class="mt-4">
              <h3 class="inline-block text-3xl font-medium text-black dark:text-gray-600">Austin Robertson</h3>
              <p class="inline-block pl-4 mb-4"> - Web developer</p>
              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s</p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
        <div class="p-6 pb-0">
            <h4 class="text-2xl font-medium text-black card-title dark:text-gray-600">About User</h4>
        </div>
        <div class="p-6">
          <div class="user-bio">
            <p class="mb-4">Tart I love sugar plum I love oat cake. Sweet roll caramels I love jujubes. Topping cake
              wafer.</p>
          </div>
          <div class="mt-2">
            <h6 class="mb-1  font-medium">Joined:</h6>
            <p class="mb-4 text-gray-500">Feb 15, 2021</p>
          </div>
          <div class="mt-2">
            <h6 class="mb-1  font-medium">Lives:</h6>
            <p class="mb-4 text-gray-500">United States of America</p>
          </div>
          <div class="mt-2">
            <h6 class="mb-1  font-medium">Email:</h6>
            <p class="mb-4"><a href="#" class="text-gray-500"> austin@gmail.com</a></p>
          </div>
          <div class="mt-2">
            <h6 class="mb-1  font-medium">Url:</h6>
            <p class="mb-4"><a href="#" class="text-gray-500" target="_blank"> www.tailwindui.com </a></p>
          </div>
          <div class="mt-2">
            <h6 class="mb-1  font-medium">Contact:</h6>
            <p class="mb-4"><a href="#" class="text-gray-500">(001) 4544 565 456</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="flex-auto w-full lg:w-1/4 xl:pl-4 lg:pl-4">
    <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="flex-auto p-6 pb-0">
          <h4 class="text-2xl font-medium text-black dark:text-gray-600">About</h4>
      </div>
      <div class="flex-auto p-6">
        <p class="mb-4">Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
        <div class="mb-1">Email: <a href="#" class="ml-4 text-blue-500 hover:text-blue-600">nikjone@demoo.com</a></div>
        <div class="mb-1">Phone: <a href="#" class="ml-4 text-blue-500 hover:text-blue-600">001 2351 256 12</a></div>
        <div>Location: <span class="ml-4">USA</span></div>
      </div>
    </div>
    <div class="relative flex flex-col mb-8 text-gray-600 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="flex-auto p-6 pb-0">
          <h4 class="text-2xl font-medium text-black dark:text-gray-600">Stories</h4>
      </div>
      <div class="flex-auto p-6">
        <ul class="p-0 m-0 list-inline">
          <li class="flex items-center mb-6">
            <img src="{{path}}assets/images/icons/06.png" alt="story-img" class="w-16 h-16 max-w-full p-1 bg-gray-100 border rounded-full dark:bg-dark-strip dark:border-gray-600">
            <div class="ml-4">
              <h5 class="text-xl font-medium text-black dark:text-gray-600">Web Design</h5>
              <p class="mb-0">1 hour ago</p>
            </div>
          </li>
          <li class="flex items-center mb-4">
            <img src="{{path}}assets/images/icons/03.png" alt="story-img" class="w-16 h-16 max-w-full p-1 bg-red-100 border rounded-full dark:bg-red-800/25 dark:border-red-800/25">
            <div class="ml-4">
              <h5 class="text-xl font-medium text-black dark:text-gray-600">App Design</h5>
              <p class="mb-0">4 hour ago</p>
            </div>
          </li>
          <li class="flex items-center">
            <img src="{{path}}assets/images/icons/07.png" alt="story-img" class="w-16 h-16 max-w-full p-1 bg-blue-100 border rounded-full dark:bg-blue-800/25 dark:border-blue-800/25">
            <div class="ml-4">
              <h5 class="text-xl font-medium text-black dark:text-gray-600">Abstract Design</h5>
              <p class="mb-0">9 hour ago</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="relative flex flex-col mb-8 text-gray-500 bg-white shadow-lg rounded-xl dark:bg-dark-card">
      <div class="flex-auto p-6 pb-0 ">
          <h4 class="text-2xl font-medium text-black dark:text-gray-600">Suggestions</h4>
      </div>
      <div class="p-6">
        <ul class="p-0 m-0 list-inline">
          <li class="flex items-center mb-6">
            <div class="max-w-full bg-orange-100 rounded-full dark:bg-orange-800/25">
              <img src="{{path}}assets/images/icons/05.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Paul Molive</h6>
              <p class="mb-0">4 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center mb-6">
            <div class="max-w-full bg-red-100 rounded-full dark:bg-red-800/25">
              <img src="{{path}}assets/images/icons/03.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Robert Fox</h6>
              <p class="mb-0">4 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center mb-6">
            <div class="max-w-full bg-gray-100 rounded-full dark:bg-dark-strip ">
              <img src="{{path}}assets/images/icons/06.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Jenny Wilson</h6>
              <p class="mb-0">6 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center mb-6">
            <div class="max-w-full bg-blue-100 rounded-full dark:bg-blue-800/25">
              <img src="{{path}}assets/images/icons/07.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block font-medium text-black dark:text-gray-600">Cody Fisher</h6>
              <p class="mb-0">8 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center mb-6">
            <div class="max-w-full rounded-full bg-cyan-100 dark:bg-cyan-700/40">
              <img src="{{path}}assets/images/icons/04.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Bessie Cooper</h6>
              <p class="mb-0">1 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center mb-6">
            <div class="max-w-full bg-orange-100 rounded-full dark:bg-orange-700/40">
              <img src="{{path}}assets/images/icons/02.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Wade Warren</h6>
              <p class="mb-0">3 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center mb-6">
            <div class="max-w-full bg-green-100 rounded-full dark:bg-green-700/40">
              <img src="{{path}}assets/images/icons/01.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Guy Hawkins</h6>
              <p class="mb-0">12 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
          <li class="flex items-center">
            <div class="max-w-full rounded-full bg-cyan-100 dark:bg-cyan-700/40"><img src="{{path}}assets/images/icons/08.png" alt="story-img" class="w-10 h-10 rounded-full"></div>
            <div class="flex-grow ml-4">
              <h6 class="block  font-medium text-black dark:text-gray-600">Floyd Miles</h6>
              <p class="mb-0">2 mutual friends</p>
            </div>
            <a href="javascript:void(0);" class="inline-block p-2 text-sm text-center text-blue-500 border border-blue-500 rounded-full hover:text-white hover:bg-blue-500 transition-all duration-500 ease-in-out">
              <span>
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{> partials/components/setting-button}}
{{/content}}
{{/extend}}
